.text-review {
  padding: 10px;
  color: white;
  font-size: 1.5em;
}
.text-review .read_text i {
  cursor: pointer;
}
.text-review .read_text audio {
  display: none;
}
.text-review .img-item {
  display: block;
  padding: 10px 0;
  display: flex;
}
.text-review .img-item img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.text-review .txt-review-title {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  color: #cef806;
}
.text-review .text-center {
  text-align: center;
}
.text-review button {
  display: block;
  margin: 0 auto;
  background: none;
  border: none;
  outline: none;
}
.text-review button a {
  font-size: 1.5em;
  text-transform: capitalize;
  padding: 5px 50px;
  border: 1px solid blue;
  display: block;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background: #00203a;
  border: none;
  margin: 5px 0;
}
.text-review .wrapper-school {
  display: flex;
  flex-wrap: wrap;
}
.text-review .wrapper-school .school-item {
  width: 33.3333333333%;
}
.text-review .wrapper-school .school-item a {
  font-weight: bold;
  color: white;
}
.text-review .wrapper-school .school-item a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #55b3d9;
}

.list-docx {
  list-style-type: none !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
.list-docx li {
  width: 32.2580645161%;
  height: 500px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
}
.list-docx li iframe {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.list-docx li span a {
  display: block;
  text-transform: uppercase;
  font-size: 1.5em;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  color: #cef806;
  white-space: nowrap;
}

#content .list-game {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}
#content .list-game li {
  margin: 10px 0;
  padding: 10px 0;
  flex: 0 0 24.3902439024%;
  border-radius: 5px;
}
#content .list-game li:nth-child(even) {
  background: #ffed7a;
}
#content .list-game li:nth-child(odd) {
  background: #92d1df;
}
#content .list-game li p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  color: #446ecb;
}
#content .list-game li img {
  width: 100%;
}
#content .list-game li button {
  border: none;
  outline: none;
  background: none;
  display: block;
  margin: 0 auto;
}
#content .list-game li button a {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background: #5da0df;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #content .list-game {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }
  #content .list-game li {
    margin: 10px 0;
    padding: 10px 0;
    flex: 0 0 100%;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
  #content .list-game {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }
  #content .list-game li {
    margin: 10px 0;
    padding: 10px 0;
    flex: 0 0 47.619047619%;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  #content .list-game {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }
  #content .list-game li {
    margin: 10px 0;
    padding: 10px 0;
    flex: 0 0 32.2580645161%;
    border-radius: 5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .list-docx {
    list-style-type: none !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .list-docx li {
    width: 100%;
    height: 500px;
    margin: 10px 0;
    border-radius: 5px;
    overflow: hidden;
  }
  .list-docx li iframe {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .list-docx li span a {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #cef806;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .text-review {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=main.css.map */
