@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./../Layout/header/main.css");
@import url("./../Forms/footer/main.css");
html {
  font-family: "Dancing Script", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif !important;
  font-size: 62.5%;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
ul,
li {
  user-select: none;
}
* {
  box-sizing: inherit;
  text-align: justify;
  line-height: 1.6em;
  text-decoration: none;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}
/* @keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

body {
  animation-name: slideIn;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
} */
