<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="./../../CSS/base.css" />
    <link rel="stylesheet" href="./../../CSS/reset.css" />
    <link rel="stylesheet" href="./../../CSS/main.css" />
    <link rel="stylesheet" href="./../../Forms/header/main.css">
    <link rel="stylesheet" href="./../../Forms/List_item/main.css">
    <link rel="stylesheet" href="./../../Forms/nav/main.css">
    <link rel="stylesheet" href="./../TEXT_CSS/main.css">
    <link rel="stylesheet" href="./../header/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/includeHTML/1.0.0/includeHTML.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/includeHTML/1.0.0/includeHTML.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="./../../logo.jpg" type="image/x-icon">
    <title>Bà Rịa - Vũng Tàu Tôi Yêu</title>
</head>

<body>
    <div id="headerContainer">
    </div>
    <script>
        fetch('./../header/header.html')
            .then(response => response.text())
            .then(data => {
                document.querySelector('#headerContainer').innerHTML = data;
                const headerScripts = document.querySelectorAll('#headerContainer script');
                headerScripts.forEach(script => {
                    eval(script.innerText); // Chạy script của header
                });
            });
    </script>
    <div id="container">
        <div id="navbar">
            <script>
                fetch('./../nav/nav.html')
                    .then(response => response.text())
                    .then(data => {
                        document.querySelector('#navbar').innerHTML = data;
                        const headerScripts = document.querySelectorAll('#navbar script');
                        headerScripts.forEach(script => {
                            eval(script.innerText); // Chạy script của header
                        });
                    });
            </script>
        </div>
        <div class="demoslide slider-container">
            <img src="./../../banner.png" alt="">
        </div>
        <script>
            setInterval(function () {
                const value_padding = parseInt(
                    localStorage.getItem("nav_height")) + 'px';
                console.log(value_padding);
                $(".demoslide").css({
                    paddingTop: value_padding,
                });
            }, 0);
        </script>
        <h1 class="tile-split">trò chơi trí tuệ</h1>
        <div class="container-item" id="content">
            <ul class="list-game">
                <!-- <li class="list-gameITEM">
                    <a target="_blank"
                        href="https://wordwall.net/vi/resource/58705966/tìm-từ-giống-nhau?ref=embed-image"><img
                            src="https://az779572.vo.msecnd.net/screens-200/e24a3da80a2f446fa7a6c6816fbfa3c6_51" /><span>Tìm
                            từ giống
                            nhau</span></a>
                </li>
                <li class="list-gameITEM">
                    <a target="_blank" href="https://wordwall.net/vi/resource/58705488/vtau2?ref=embed-image"><img
                            src="https://az779572.vo.msecnd.net/screens-200/ebd0ebdb3caf4336982cc6dc48bfe2b9_44" /><span>Tìm
                            tên địa danh</span></a>
                </li>
                <li class="list-gameITEM">
                    <a target="_blank" href="https://wordwall.net/vi/resource/58705901/tìm-từ-2?ref=embed-image"><img
                            src="https://az779572.vo.msecnd.net/screens-200/3b0594c83e4b44ea82528b9e472845c2_46" /><span>Tìm
                            từ
                            2</span></a>
                </li> -->

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p1)
                    </p>
                    <img src="./img/1 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61bd21bf2a585f001e6e1d21/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>

                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p2)
                    </p>
                    <img src="./img/2 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/629598049c1ba0001eebc8fb/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>

                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p3)
                    </p>
                    <img src="./img/3 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61734685f429f5001d828999/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>

                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p4)
                    </p>
                    <img src="./img/4 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61a71c0d406b39001e2b9864/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>

                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p5)
                    </p>
                    <img src="./img/5 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/63dfb161a282bb001d612ede/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>

                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p6)
                    </p>
                    <img src="./img/6 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61ffe157d38c15001dabe64d/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p7)
                    </p>
                    <img src="./img/7 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/5ea6ab06b2e0e7001be869f2/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p8)
                    </p>
                    <img src="./img/8 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/62189f80b4e09c001dfe6d9d/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p9)
                    </p>
                    <img src="./img/9 (1).jpeg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/629598049c1ba0001eebc8fb/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p10)
                    </p>
                    <img src="./img/10 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/6335b2995f5d88001e209e29/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p11)
                    </p>
                    <img src="./img/11 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/601b5d6c94c106001be1a5a7/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p12)
                    </p>
                    <img src="./img/12 (1).jpeg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61ecc75f5692d9001e02285f/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p13)
                    </p>
                    <img src="./img/13 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/5e80cbea59fd7a001b1ce4ec/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p14)
                    </p>
                    <img src="./img/14 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/619b2769120e14001e04bec4/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p15)
                    </p>
                    <img src="./img/15 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/presentation/62b9c3f61f0998001e50439a/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p16)
                    </p>
                    <img src="./img/16 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61b3891d9f915a001dc8eec4/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p17)
                    </p>
                    <img src="./img/17 (1).png" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61100cf3b0c6a9001b3249fa/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p18)
                    </p>
                    <img src="./img/18 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61016cb6d943c1001cc368b4/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p19)
                    </p>
                    <img src="./img/19 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/60e5a86ba9dee2001bf60ae9/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>

                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p20)
                    </p>
                    <img src="./img/20 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61f0c107421120001dfa7b13/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p21)
                    </p>
                    <img src="./img/21 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/6183b2e363421f001e7b5e93/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p22)
                    </p>
                    <img src="./img/22 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/61776e24885b86001d04b4d1/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p23)
                    </p>
                    <img src="./img/23 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/60048447e157f6001b34f5c4/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>
                <li class="list-gameITEM">
                    <p class="title-quiz">
                        Hỏi Đáp BR-VT(p24)
                    </p>
                    <img src="./img/24 (1).jpg" alt="" class="item-img-quiz">
                    <button class="play-now">
                        <a href="https://quizizz.com/join/quiz/64322c625c45a0001dd9a4ef/start?studentShare=true"
                            target="_blank" rel="noopener noreferrer" class="link-quiz">
                            Chơi Ngay <i class="fa-solid fa-gamepad"></i>
                        </a>
                    </button>
                </li>
            </ul>
            <div class="span-Game">
                <iframe
                    src="https://docs.google.com/presentation/d/e/2PACX-1vTidLcHjVhDRosIM65-DgGaXoHHWJ4yxHQWSdpqyJE6XFT9062QumsSU_gQuLdMYQ/embed?start=true&loop=true&delayms=3000"
                    frameborder="0" width="100%" height="749" allowfullscreen="true" mozallowfullscreen="true"
                    webkitallowfullscreen="true"></iframe>
            </div>
        </div>
        <footer id="footer-item">
        </footer>
        <script>
            fetch('./../../Forms/footer/footer.html')
                .then(response => response.text())
                .then(data => {
                    document.querySelector('#footer-item').innerHTML = data;
                    const headerScripts = document.querySelectorAll('#footer-item script');
                    headerScripts.forEach(script => {
                        eval(script.innerText); // Chạy script của header
                    });
                });
        </script>
    </div>
</body>
<script type="module" src="./script/main.js"></script>

</html>