.footer-content {
  background: white;
  background: #033f63;
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 20%;
  right: 0;
  padding: 10px;
}
.footer-content .title-footer {
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  width: 100%;
}
.footer-content .list-footer {
  list-style-type: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content .list-footer .list-footer-item a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: white;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 100%;
  background: #00203a;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    flex-direction: column;
    left: 0%;
    right: 0;
    padding: 10px 0;
    padding: 5px;
  }
  .footer-content .title-footer {
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    width: 100%;
    text-align: center;
  }
  .footer-content .list-footer {
    list-style-type: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .footer-content .list-footer .list-footer-item a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 100%;
    background: #00203a;
  }
}
@media only screen and (min-width: 480px) and (max-width: 640px) {
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    flex-direction: column;
    left: 0%;
    right: 0;
    padding: 10px 0;
    padding: 5px;
  }
  .footer-content .title-footer {
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    width: 100%;
    text-align: center;
  }
  .footer-content .list-footer {
    list-style-type: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .footer-content .list-footer .list-footer-item a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 100%;
    background: #00203a;
  }
}
@media only screen and (min-width: 640px) {
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    flex-direction: row;
    left: 0%;
    right: 0;
    padding: 10px 0;
    padding: 5px;
  }
  .footer-content .title-footer {
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    width: 100%;
    text-align: center;
  }
  .footer-content .list-footer {
    list-style-type: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .footer-content .list-footer .list-footer-item a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: white;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 100%;
    background: #00203a;
  }
}

/*# sourceMappingURL=main.css.map */
