<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
                rel="stylesheet" />
        <link rel="stylesheet" href="./../../CSS/base.css" />
        <link rel="stylesheet" href="./../../CSS/reset.css" />
        <link rel="stylesheet" href="./../../CSS/main.css" />
        <link rel="stylesheet" href="./../../Forms/header/main.css">
        <link rel="stylesheet" href="./../../Forms/List_item/main.css">
        <link rel="stylesheet" href="./../../Forms/nav/main.css">
        <link rel="stylesheet" href="./main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
                integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
                crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/includeHTML/1.0.0/includeHTML.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/includeHTML/1.0.0/includeHTML.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
                integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="shortcut icon" href="./../../logo.jpg" type="image/x-icon">
        <title>Bà Rịa - Vũng Tàu Tôi Yêu</title>
</head>

<body>
        <div id="headerContainer">
        </div>
        <script>
                fetch('./../header/header.html')
                        .then(response => response.text())
                        .then(data => {
                                document.querySelector('#headerContainer').innerHTML = data;
                                const headerScripts = document.querySelectorAll('#headerContainer script');
                                headerScripts.forEach(script => {
                                        eval(script.innerText); // Chạy script của header
                                });
                        });
        </script>
        <div id="container">
                <div id="navbar">
                        <script>


                                fetch('./../../Forms/nav/nav.html')
                                        .then(response => response.text())
                                        .then(data => {
                                                document.querySelector('#navbar').innerHTML = data;
                                                const headerScripts = document.querySelectorAll('#navbar script');
                                                headerScripts.forEach(script => {
                                                        eval(script.innerText); // Chạy script của header
                                                });
                                        });
                        </script>
                </div>
                <div class="demoslide slider-container">
                        <img src="./../../banner.png" alt="">
                    </div>
                    <script>
                        const value_padding = parseInt(
                            localStorage.getItem("nav_height")) + 'px';
                        console.log(value_padding);
                        $(".demoslide").css({
                            paddingTop: value_padding,
                        });
                    </script>
              
                <h1 class="tile-split">Lịch sử hình thành và phát triển Bà Rịa - vũng tàu</h1>
                <div class="container-item" id="content">
                        <div class="print-view-content content">
                                <h2>
                                        <span  style="font-size: 12pt" data-mce-style="font-size: 12pt;"><strong><span
                                                                id="L.E1.BB.8Bch_s.E1.BB.AD_t.C3.AAn_g.E1.BB.8Di_.C4.91.E1.BB.8Ba_danh"
                                                                class="mw-headline">Lịch sử tên gọi địa
                                                                danh</span></strong></span>
                                </h2>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Bà Rịa:
                                                        theo nhiều người giải thích là xưa ở vùng đất này có
                                                        một bà quê ở Bình Định vào vùng Mô Xoài này khai hoang lập
                                                        nghiệp, nên để ghi nhớ công ơn này nên người dân địa phương Tôn
                                                        Thờ Bà, và lấy tên bà đặt cho vùng đất Bà Rịa ngày này.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Vũng
                                                        Tàu:</span>
                                        </li>
                                </ul>
                                <table border="2" cellspacing="0" cellpadding="4" class="list_lsht">
                                        <tbody>
                                                <tr >
                                                        <th>
                                                                <span style="font-size: 12pt" class="province year_number"
                                                                        data-mce-style="font-size: 12pt;">1947</span>
                                                        </th>
                                                        <th>
                                                                <span style="font-size: 12pt" class="province year_number"
                                                                        data-mce-style="font-size: 12pt;">1956</span>
                                                        </th>
                                                        <th>
                                                                <span style="font-size: 12pt" class="province year_number"
                                                                        data-mce-style="font-size: 12pt;">1964</span>
                                                        </th>
                                                        <th>
                                                                <span style="font-size: 12pt" class="province year_number"
                                                                        data-mce-style="font-size: 12pt;">1975</span>
                                                        </th>
                                                        <th>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">1979</span>
                                                        </th>
                                                        <th>
                                                                <span style="font-size: 12pt" class="province year_number"
                                                                        data-mce-style="font-size: 12pt;">1991</span>
                                                        </th>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Bà
                                                                        Rịa</span>
                                                        </td>
                                                        <td colspan="2">
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Phước
                                                                        Tuy</span>
                                                        </td>
                                                        <td colspan="2">
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Đồng
                                                                        Nai</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh
                                                                        BRVT</span>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Vũng
                                                                        Tàu</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Phước
                                                                        Tuy</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">thị xã Vũng
                                                                        Tàu</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Đồng
                                                                        Nai</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">Đặc khu Vũng
                                                                        Tàu-Côn Đảo</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh
                                                                        BRVT</span>
                                                        </td>
                                                </tr>
                                                <tr>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">Côn Lôn thuộc
                                                                        Hà Tiên</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Côn
                                                                        Đảo</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">Côn Đảo</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Hậu
                                                                        Giang</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">Đặc Khu Vũng
                                                                        Tàu-Côn Đảo</span>
                                                        </td>
                                                        <td>
                                                                <span style="font-size: 12pt" class="province"
                                                                        data-mce-style="font-size: 12pt;">tỉnh
                                                                        BRVT</span>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>


                                <p>
                                        <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">&nbsp;</span>
                                </p>
                                <h2>
                                        <span style="font-size: 12pt" data-mce-style="font-size: 12pt;"><strong><span
                                                                id="Bu.E1.BB.95i_.C4.91.E1.BA.A7u_khai_ph.C3.A1"
                                                                class="mw-headline">Buổi đầu khai
                                                                phá</span></strong></span>
                                </h2>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1698, Phủ Gia Định được thành lập gồm 2 huyện Tân Bình và
                                                        Phước Long trong đó&nbsp;:</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Huyện Phước
                                                                        Long gồm 4 [Tổng] trong đó có tổng [Phước An]
                                                                        nay là tỉnh Bà Rịa – Vũng Tàu và 1 phần tỉnh
                                                                        Đồng Nai như
                                                                        Thị xã Long Khánh, huyện Xuân Lộc, Cẩm
                                                                        Mỹ…</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Côn Đảo lúc
                                                                        này thuộc tỉnh Hà Tiên.</span>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1808, Tổng thành huyện, Huyện trở thành Phủ . Theo đó, tổng
                                                        Phước An huyện Phước Long trở thành Huyện Phước An phủ Phước
                                                        Long. Huyện Phước An gồm 2 tổng Phước Hưngvà An Phú.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1819, đảo Côn Lôn (Côn Đảo ngày nay) thuộc đạo Cần Giờ tỉnh
                                                        Gia Định.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1937, tách huyện Phước An và [Long Thành] thuộc phủ Phước
                                                        Long để thành lập phủ Phước Tuy; thành lập huyện mới Long Khánh
                                                        tách từ huyện Phước An.</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Phủ Phước Tuy
                                                                        thuộc tỉnh Biên Hoà gồm 3 huyện Phước An,
                                                                        Long Thành và Long Khánh.</span>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1839, Đảo Côn Lôn thuộc tỉnh Vĩnh Long.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1861, Đảo Côn Lôn thuộc tỉnh Hà Tiên như lúc đầu.</span>
                                        </li>
                                </ul>
                                <h2>
                                        <span style="font-size: 12pt" data-mce-style="font-size: 12pt;"><strong><span
                                                                id="Giai_.C4.91o.E1.BA.A1n_Ph.C3.A1p_Thu.E1.BB.99c"
                                                                class="mw-headline">Giai đoạn Pháp
                                                                Thuộc</span></strong></span>
                                </h2>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1862, huyện Phước An đổi thành hạt Thạnh Tra Bà Rịa.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1869, đổi hạt Thạnh Tra thành Khu Tham Biện.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1882, thành lập Quận Côn Đảo trực thuộc Nam Kỳ.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1885, thành lập Thành Phố Vũng Tàu từ khu tham Biên Bà
                                                        Rịa.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1900:</span>
                                        </li>
                                </ul>
                                <ol>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Khu Tham
                                                        Biện đổi thành Tỉnh</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">tỉnh Bà
                                                        Rịa thành lập mới Tổng An Phú Tân.</span>
                                        </li>
                                </ol>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1905:</span>
                                        </li>
                                </ul>
                                <ol>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Nhập
                                                        Thành Phố Vũng Tàu vào tỉnh Bà Rịa</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">2 tổng
                                                        Cơ Trạch và Nhơn Xương tỉnh [Bình Thuận] nhập vào tỉnh
                                                        Bà Rịa.</span>
                                        </li>
                                </ol>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1929, Thành lập tỉnh Vũng Tàu từ tổng Vũng Tàu, làng Sơn
                                                        Long và Quận Cần Giờ (tỉnh Gia Định).</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1934, hạ tỉnh Vũng Tàu xuống cấp Thành Phố</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1938:</span>
                                        </li>
                                </ul>
                                <ol>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Lập Quận
                                                        Long Điền cho toàn tỉnh Bà Rịa</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">lập mới
                                                        tổng Phước Hưng Trung</span>
                                        </li>
                                </ol>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1939, tỉnh Bà Rịa gồm 1 Quận Long Điền.</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Quận Long Điền
                                                                        gồm 8 tổng: An Phú Tân, An Phú Thượng, An
                                                                        Phú Hạ, Phước Hưng Thượng, Phước Hưng Trung,
                                                                        Phước Hưng Hạ,
                                                                        Nhơn Xương và Cơ Trạch.</span>
                                                        </li>
                                                </ul>
                                        </li>
                                </ul>
                                <h2>
                                        <span style="font-size: 12pt" data-mce-style="font-size: 12pt;"><strong><span
                                                                id="giai_.C4.91o.E1.BA.A1n_1945_-_1975"
                                                                class="mw-headline">Giai đoạn 1945 -
                                                                1975</span></strong></span>
                                </h2>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt"
                                                        data-mce-style="font-size: 12pt;">9/02/1946, quân Pháp chiếm Bà
                                                        Rịa và Vũng Tàu</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1947, tái lập tỉnh Vũng Tàu</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1954, thành lập Quận Xuyên Mộc</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1956:</span>
                                        </li>
                                </ul>
                                <ol>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Thành
                                                        lập tỉnh Phước Tuy từ tỉnh Bà Rịa và tỉnh Vũng Tàu; Tỉnh
                                                        Lỵ tại Làng Phước Lễ tổng An Phú Hạ Quận Châu Thành.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Thành
                                                        lập tỉnh Côn Đảo.</span>
                                        </li>
                                </ol>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Tỉnh
                                                        Phước Tuy gồm 6 Quận, 8 tổng và 39 xã.</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Quận Châu
                                                                        Thành gồm Tổng An Phú Hạ (3 xã), An Phú Tân (4
                                                                        Xã) và tổng Cơ Trạch (4 Xã: Ngãi Giao, Bình Giã,
                                                                        Bình Ba và
                                                                        Hắc Dịch) .</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Quận Xuyên Mộc
                                                                        gồm Tổng Nhơn Xương (5 Xã).</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Quận Long Điền
                                                                        gồm tổng An Phú Thượng (6 xã: Long Điền, An
                                                                        Ngãi, An Nhất, Tam Phước, Phước Tỉnh và Long
                                                                        Hải).</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Quận Đất Đỏ
                                                                        gồm tổng Phước Hưng Thượng (3 Xã), Phước Hưng
                                                                        Trung (2 Xa) và Phước Hưng Hạ (3 Xã).</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Quận Vũng Tàu
                                                                        (5 Xã: Thắng Nhất, Thắng Nhì, Thắng Tam, Rạch
                                                                        Dừa và Phước Cơ)</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Quận Cần Giờ
                                                                        (6Xã).</span>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1958, Nhập Quận Đất Đỏ vào Quận Long Điền</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1959:</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Tách 2 Quận là
                                                                        Cần Giờ và Quảng Xuyên cho tỉnh Biên
                                                                        Hoà</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Tái lập Quận
                                                                        Đất Đỏ</span>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1961, thành lập Quận Đức Thạnh từ 4 xã (Ngãi Giao, Bình Ba,
                                                        Bình Giã và Hắc Dịch) của Châu Thành.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1962, đổi Quận Châu Thành thành Quận [Long Lễ].</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1964:</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Nhập&nbsp;xã
                                                                        Hội Bài Quận Long Lễ vào Quận Phước Hoà.</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">thành lập thị
                                                                        xã Vũng Tàu trực thuộc Trung Ương</span>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1965:</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Nhập Xã Nhu
                                                                        Lâm (Quận Xuyên Mộc) vào Xã Xuyên Mộc.</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">đặt Côn Đảo
                                                                        Trực thuộc Trung Ương.</span>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1972, tách đất xã [Hắc Dịch] và xã [Bình Ba] thành lập xã
                                                        Quãng Phước (Quận Đức Thạnh)</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1973, nhập quần đảo Trường xa Vào Xã Phước Hải quận Đất
                                                        Đỏ</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1974, lập Phường Phước Hải thuộc thị xã Vũng Tàu</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt"
                                                        data-mce-style="font-size: 12pt;">26-4-1975: Sư đoàn Sao Vàng
                                                        (Sư đoàn 3) nổ súng vào tiểu khu
                                                        Phước Tuy, trung tâm huấn luyện Vạn Kiếp, mở màn cuộc tấn công
                                                        giải phóng Bà Rịa - Vũng Tàu.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt"
                                                        data-mce-style="font-size: 12pt;">27-4-1975: Xuyên Mộc và xã đảo
                                                        Long Sơn hoàn toàn được giải
                                                        phóng.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt"
                                                        data-mce-style="font-size: 12pt;">30-4-1975: Đúng 13h, thành phố
                                                        Vũng Tàu được hoàn toàn giải
                                                        phóng.</span>
                                        </li>
                                </ul>
                                <h2>
                                        <span style="font-size: 12pt" data-mce-style="font-size: 12pt;"><strong><span
                                                                id="Giai_.C4.91o.E1.BA.A1n_sau_1975_-_nay"
                                                                class="mw-headline">Giai đoạn sau 1975 -
                                                                nay</span></strong></span>
                                </h2>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1975:</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Thành Lập tỉnh
                                                                        Đồng Nai từ tỉnh Biên Hoà, Long Khánh, Phước
                                                                        Tuy, 1 phần đất tỉnh Bình Tuy.</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Tháng 9/1976
                                                                        lập huyện Côn Đảo thuộc Thành phố Hồ Chí
                                                                        Minh.</span>
                                                        </li>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">Tháng 1/1977
                                                                        chuyển huyện Côn Đảo sang thuộc tỉnh Hậu
                                                                        Giang.</span>
                                                        </li>
                                                </ul>
                                        </li>
                                </ul>
                                <h3>
                                        <span style="font-size: 12pt" data-mce-style="font-size: 12pt;"><strong><span
                                                                id=".C4.90.E1.BA.B7c_khu_V.C5.A9ng_T.C3.A0u-C.C3.B4n_.C4.90.E1.BA.A3o"
                                                                class="mw-headline">Đặc khu Vũng Tàu-Côn
                                                                Đảo</span></strong></span>
                                </h3>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1979, thành lập đặc khu Vũng Tàu – Côn Đảo trên cơ&nbsp;sở
                                                        thị xã Vũng Tàu tỉnh Đồng Nai, xã Long Sơn huyện Châu Thành Đồng
                                                        Nai và huyện Côn Đảo tỉnh Hậu Giang</span>
                                        </li>
                                </ul>
                                <h3>
                                        <span style="font-size: 12pt" data-mce-style="font-size: 12pt;"><strong><span
                                                                id="T.E1.BB.89nh_B.C3.A0_R.E1.BB.8Ba_-_V.C5.A9ng_T.C3.A0u"
                                                                class="mw-headline">Tỉnh Bà Rịa - Vũng
                                                                Tàu</span></strong></span>
                                </h3>
                                <ul>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1982,thành lập thị trấn Bà Rịa ( huyện Châu Thành) từ xã
                                                        Phước Lễ, thị trấn Long Điền (huyện Long Đất) từ xã Long Điền,
                                                        thị trấn Long Hải (huyện Long Đất) từ xã Long Hải. Giải tán xã
                                                        Phước Lễ, Long Điền, Long Hải.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1991, thành lập tỉnh Bà Rịa Vũng Tàu từ 3 huyện Châu Thành,
                                                        Long Đất và Xuyên Mộc thuộc tỉnh Đồng Nai và Đặc Khu Vũng tàu
                                                        Côn Đảo.</span>
                                                <ul>
                                                        <li>
                                                                <span style="font-size: 12pt"
                                                                        data-mce-style="font-size: 12pt;">tỉnh Bà Rịa
                                                                        Vũng Tàu khi đó gồm: thị xã Vũng Tàu (tỉnh lỵ),
                                                                        Các huyện: Châu Thành, Long Đất, Xuyên Mộc và
                                                                        Côn Đảo</span>
                                                        </li>
                                                </ul>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        1994. thành lập thị xã Bà Rịa, huyện Tân Thành, huyện Châu
                                                        Đức, lập Thị Trấn Phú Mỹ trực thuộc Tân Thành, TT Ngãi Giao
                                                        thuộc Châu Đức. Giải tán huyện Châu Thành</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        2003. giải thể huyện Long Đất. Lập huyện Long Điền và huyện
                                                        Đất Đỏ.</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        2007, lập thị trấn Đất Đỏ và Thị trấn Phước Hải trực thuộc
                                                        huyện Đất Đỏ</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        2012, Thành lập Thành Phố Bà Rịa (ngày 22.08.2012)</span>
                                        </li>
                                        <li>
                                                <span style="font-size: 12pt" data-mce-style="font-size: 12pt;">Năm
                                                        2018, Thành lập Thị xã Phú Mỹ (trên cơ sở huyện Tân
                                                        Thành)</span>
                                        </li>
                                </ul>
                        </div>
                </div>
                <style>
                        .column1 {
                          width: 100px;
                        }
                      
                        .column2 {
                          width: 200px;
                        }
                      </style>
                <footer id="footer-item">
                </footer>
                <script>
                        fetch('./../../Forms/footer/footer.html')
                                .then(response => response.text())
                                .then(data => {
                                        document.querySelector('#footer-item').innerHTML = data;
                                        const headerScripts = document.querySelectorAll('#footer-item script');
                                        headerScripts.forEach(script => {
                                                eval(script.innerText); // Chạy script của header
                                        });
                                });
                </script>
        </div>
</body>
<script type="module" src="./script/main.js"></script>

</html>