.container-item {
  color: white;
  padding: 10px;

  table {
    color: white;
    border-color: white;
  }
}
.province {
  width: 100%;
  display: block;
  text-transform: capitalize;
  padding: 10px;
  text-align: center;
}
.year_number {
  font-weight: bold;
}
