<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="./../../CSS/base.css" />
    <link rel="stylesheet" href="./../../CSS/reset.css" />
    <link rel="stylesheet" href="./../../CSS/main.css" />
    <link rel="stylesheet" href="./../../Forms/header/main.css">
    <link rel="stylesheet" href="./../../Forms/List_item/main.css">
    <link rel="stylesheet" href="./../../Forms/nav/main.css">
    <link rel="stylesheet" href="./../TEXT_CSS/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/includeHTML/1.0.0/includeHTML.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/includeHTML/1.0.0/includeHTML.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
        integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="./../../logo.jpg" type="image/x-icon">
    <title>Bà Rịa - Vũng Tàu Tôi Yêu</title>
</head>

<body>
    <div id="headerContainer">
    </div>
    <script>
        fetch('./../header/header.html')
            .then(response => response.text())
            .then(data => {
                document.querySelector('#headerContainer').innerHTML = data;
                const headerScripts = document.querySelectorAll('#headerContainer script');
                headerScripts.forEach(script => {
                    eval(script.innerText); // Chạy script của header
                });
            });
    </script>
    <div id="container">
        <div id="navbar">
            <script>
                fetch('./../nav/nav.html')
                    .then(response => response.text())
                    .then(data => {
                        document.querySelector('#navbar').innerHTML = data;
                        const headerScripts = document.querySelectorAll('#navbar script');
                        headerScripts.forEach(script => {
                            eval(script.innerText); // Chạy script của header
                        });
                    });
            </script>
        </div>
        <div class="demoslide slider-container">
            <img src="./../../banner.png" alt="">
        </div>
        <script>
            const value_padding = parseInt(
                localStorage.getItem("nav_height")) + 'px';
            console.log(value_padding);
            $(".demoslide").css({
                paddingTop: value_padding,
            });
        </script>
        <h1 class="tile-split">Sông Ngòi của bà rịa - vũng tàu</h1>
        <div class="container-item" id="content">
            <p class="text-review">
                - Tỉnh Bà Rịa - Vũng Tàu có hệ thống sông ngòi khá dày đặc, với nhiều con sông lớn như sông Dinh, sông
                Ray, sông Lòng Tàu, sông Cỏ May, sông Tham Quan, sông Thị Vải, sông Đồng Nai, sông Sài Gòn,... Các con
                sông này có chiều dài từ vài chục km đến hơn 100 km, có lưu lượng nước lớn, tạo thành một hệ thống giao
                thông thủy quan trọng của tỉnh.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Sông Dinh:
                </span>
                Sông Dinh là con sông lớn nhất của tỉnh Bà Rịa - Vũng Tàu, có chiều dài 100 km, lưu lượng
                nước trung bình 100 m3/s. Sông Dinh bắt nguồn từ núi Dinh, chảy qua các huyện Long Điền, Đất Đỏ, Châu
                Đức và đổ ra biển Đông tại khu vực Vũng Tàu.
                <span class="img-item">
                    <img src="./../../Img/song/sd.jpg" alt="">
                </span>
                - Sông Dinh là một con sông đa chức năng, cung cấp nước cho sinh hoạt, sản xuất, giao thông thủy và du
                lịch. Sông Dinh cũng là một nguồn cung cấp thủy sản quan trọng cho tỉnh Bà Rịa - Vũng Tàu.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Sông Ray:
                </span>
                Sông Ray là con sông lớn thứ hai của tỉnh Bà Rịa - Vũng Tàu, có chiều dài 80 km, lưu lượng
                nước trung bình 80 m3/s. Sông Ray bắt nguồn từ núi Dinh, chảy qua các huyện Long Điền, Đất Đỏ và đổ ra
                biển Đông tại khu vực Long Hải.
                <span class="img-item">
                    <img src="./../../Img/song/sr.jpg" alt="">
                </span>
                - Sông Ray cũng là một con sông đa chức năng, cung cấp nước cho sinh hoạt, sản xuất, giao thông thủy và
                du lịch. Sông Ray cũng là một nguồn cung cấp thủy sản quan trọng cho tỉnh Bà Rịa - Vũng Tàu.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Sông Lòng Tàu:
                </span>
                Sông Lòng Tàu là con sông dài nhất của tỉnh Bà Rịa - Vũng Tàu, có chiều dài 120 km, lưu
                lượng nước trung bình 120 m3/s. Sông Lòng Tàu bắt nguồn từ núi Dinh, chảy qua các huyện Châu Đức, Xuyên
                Mộc và đổ ra biển Đông tại khu vực Vũng Tàu.
                <span class="img-item">
                    <img src="./../../Img/song/lt1.jpg" alt="">
                </span>
                - Sông Lòng Tàu cũng là một con sông đa chức năng, cung cấp nước cho sinh hoạt, sản xuất, giao thông
                thủy và du lịch. Sông Lòng Tàu cũng là một nguồn cung cấp thủy sản quan trọng cho tỉnh Bà Rịa - Vũng
                Tàu.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Sông Cỏ May:
                </span>
                Sông Cỏ May là con sông có chiều dài ngắn nhất của tỉnh Bà Rịa - Vũng Tàu, có chiều dài
                60 km, lưu lượng nước trung bình 60 m3/s. Sông Cỏ May bắt nguồn từ núi Dinh, chảy qua các huyện Xuyên
                Mộc và Côn Đảo và đổ ra biển Đông tại khu vực Côn Đảo.
                <span class="img-item">
                    <img src="./../../Img/song/cm1.jpg" alt="">
                </span>
                - Sông Cỏ May cũng là một con sông đa chức năng, cung cấp nước cho sinh hoạt, sản xuất, giao thông thủy
                và du lịch. Sông Cỏ May cũng là một nguồn cung cấp thủy sản quan trọng cho tỉnh Bà Rịa - Vũng Tàu.
                <span class="txt-review-title">
                    Hệ thống kênh rạch
                </span>
                - Ngoài ra, tỉnh Bà Rịa - Vũng Tàu còn có nhiều kênh rạch nhỏ, nối liền các con sông với nhau, tạo thành
                một mạng lưới giao thông thủy chằng chịt, thuận lợi cho việc vận chuyển hàng hóa và đi lại của người
                dân.
                <br>
                - Các con sông ngòi và kênh rạch có tầm quan trọng to lớn đối với cuộc sống của con người. Chúng cung
                cấp nước cho sinh hoạt, sản xuất, giao thông thủy và du lịch.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Sinh hoạt:
                </span>
                Các con sông ngòi và kênh rạch cung cấp nước cho sinh hoạt của con người, bao gồm uống, nấu
                ăn, tắm rửa và giặt giũ. Nước sông và kênh rạch là nguồn nước sạch, có thể sử dụng cho nhiều mục đích
                khác nhau.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Sản xuất:
                </span>
                Các con sông ngòi và kênh rạch cung cấp nước cho sản xuất nông nghiệp, công nghiệp và thủy
                sản. Nước sông và kênh rạch được sử dụng để tưới tiêu cho cây trồng, sản xuất các sản phẩm công nghiệp
                và nuôi trồng thủy sản.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Giao thông thủy:
                </span>
                Các con sông ngòi và kênh rạch là tuyến giao thông quan trọng cho việc vận chuyển
                hàng hóa và đi lại của con người. Nước sông và kênh rạch được sử dụng để vận chuyển hàng hóa và hành
                khách bằng thuyền, tàu, bè.
                <br>
                <span class="txt-review-title" style="display: inline-block">
                    • Du lịch:
                </span>
                Các con sông ngòi và kênh rạch là một địa điểm du lịch hấp dẫn, mang đến cho du khách những
                trải nghiệm thú vị về thiên nhiên và văn hóa. Du khách có thể đi thuyền, tàu, bè trên sông và kênh rạch
                để khám phá cảnh đẹp của thiên nhiên, tìm hiểu về văn hóa của người dân địa phương.
                <br>
                - Nhìn chung, các con sông ngòi và kênh rạch là một tài nguyên quý giá, có vai trò quan trọng trong việc
                phát triển kinh tế, giao thông và đời sống của con người. Chúng cung cấp nước cho sinh hoạt, sản xuất,
                giao thông thủy và du lịch. Chúng là một phần quan trọng của hệ sinh thái, cung cấp môi trường sống cho
                nhiều loài động thực vật. Chúng cũng có ý nghĩa văn hóa và tâm linh đối với nhiều người.
            </p>
        </div>
        <footer id="footer-item">
        </footer>
        <script>
            fetch('./../../Forms/footer/footer.html')
                .then(response => response.text())
                .then(data => {
                    document.querySelector('#footer-item').innerHTML = data;
                    const headerScripts = document.querySelectorAll('#footer-item script');
                    headerScripts.forEach(script => {
                        eval(script.innerText); // Chạy script của header
                    });
                });
        </script>
    </div>
</body>
<script type="module" src="./script/main.js"></script>

</html>