<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<header>
    <div class="wrapper-showList">
        <h1 class="brand" id="logo-brand">
            <a href="./../../index.html" style="color:#cef806 ">
                Bà Rịa - Vũng Tàu Tôi Yêu

            </a>
        </h1>
        <i class="fa-solid fa-bars user-clickNAV"></i>
    </div>

    <style>
        .brand:hover {
            cursor: pointer;
        }
    </style>
    <ul class="list">
        <li class="list_item">
            <a href="./../1GTWS/main.html" rel="noopener noreferrer" id="GTWS">
                Giới Thiệu Về Website
            </a>
        </li>
        <li class="list_item">
            <a href="http://atlas.baria-vungtau.gov.vn/" target="_blank" rel="noopener noreferrer">
                Bản đồ tỉnh bà rịa vũng tàu
            </a>
        </li>
        <li class="list_item ">
            <span class="list-click">
                <i class="fa-solid fa-angles-right"></i> Lịch Sử
            </span>
            <ul class="list-show">
                <li class="list_item-show list_item-hidden">
                    <a href="./../2LSHT/lsht.html" rel="noopener noreferrer" id="LSHT">
                        Lịch sử hình thành
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../3DTLS/main.html" rel="noopener noreferrer" id="DTLS">
                        Di tích lịch sử
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../4AHLS/main.html" rel="noopener noreferrer" id="NVLS">
                        nhân vật lịch sử
                    </a>
                </li>
            </ul>

        </li>
        <li class="list_item ">
            <span class="list-click">
                <i class="fa-solid fa-angles-right"></i> Tự nhiên
            </span>
            <ul class="list-show">
                <li class="list_item-show list_item-hidden">
                    <a href="./../5VTDL/main.html" rel="noopener noreferrer" id="VTDL">
                        Vị trí địa lí
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../6DH/main.html" rel="noopener noreferrer" id="DH">
                        địa hình
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../7KH/main.html" rel="noopener noreferrer" id="KH">
                        khí hậu
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../8SN/main.html" rel="noopener noreferrer" id="SN">
                        sông ngòi
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../9KS/main.html" rel="noopener noreferrer" id="KS">
                        khoáng sản
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../10SV/main.html" rel="noopener noreferrer" id="SV">
                        sinh vật
                    </a>
                </li>
                <li class="list_item-show list_item-hidden" id="B">
                    <a href="./../11B/main.html" rel="noopener noreferrer">
                        Biển
                    </a>
                </li>
            </ul>

        </li>
        <li class="list_item ">
            <span class="list-click">
                <i class="fa-solid fa-angles-right"></i> Dân cư
            </span>
            <ul class="list-show">
                <li class="list_item-show list_item-hidden">
                    <a href="./../12DS/main.html" rel="noopener noreferrer" id="DS">
                        Dân số
                    </a>
                </li>

                <li class="list_item-show list_item-hidden">
                    <a href="./../13GD/main.html" rel="noopener noreferrer">
                        giáo dục
                    </a>
                </li>
            </ul>

        </li>
        <li class="list_item ">
            <span class="list-click">
                <i class="fa-solid fa-angles-right"></i> kinh tế
            </span>
            <ul class="list-show">
                <li class="list_item-show list_item-hidden">
                    <a href="./../14CN/main.html" rel="noopener noreferrer" id="NCN">
                        nghành Công Nghiệp
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../15NN/main.html" rel="noopener noreferrer" id="NNN">
                        nghành nông nghiệp
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../16DV/main.html" rel="noopener noreferrer" id="NDV">
                        nghành Dịch Vụ
                    </a>
                </li>
            </ul>

        </li>
        <li class="list_item">
            <span class="list-click">
                <i class="fa-solid fa-angles-right"></i> Văn hóa
            </span>
            <ul class="list-show">
                <li class="list_item-show list_item-hidden">
                    <a href="./../17AT/main.html" rel="noopener noreferrer" id="AT">
                        ẩm thực
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../18LNTT/main.html" rel="noopener noreferrer" id="LNTT">
                        làng nghề truyền thống
                    </a>
                </li>
                <li class="list_item-show list_item-hidden">
                    <a href="./../19LH/main.html" rel="noopener noreferrer" id="LH">
                        lễ hội
                    </a>
                </li>

            </ul>

        </li>
        <li class="list_item">
            <a href="https://bard.google.com/" target="_blank" rel="noopener noreferrer">
                Công cụ hỗ trợ
            </a>
        </li>
    </ul>
</header>
<script>
    for (let index = 0; index < document.querySelectorAll(".list-click").length; index++) {
        document.querySelectorAll(".list-show")[index].style.display = "none";
        document.querySelectorAll(".list-click")[index].setAttribute("id", index);
        let value_listShow = localStorage.getItem(
            document.querySelectorAll(".list-click")[index].getAttribute("id")) || false;
        if (value_listShow === 'true') {
            document.querySelectorAll(".list-show")[index].style.display = "block";
        }
        localStorage.setItem(document.querySelectorAll(".list-show")[index].getAttribute("id"), value_listShow);
    }
    var list_Click = $(".list-click");

    for (let obj of list_Click) {
        let list_active = localStorage.getItem(obj.getAttribute("id"));

        $(obj).click(function () {
            const listShow = $(this).next('.list-show');
            listShow.slideToggle("slow");
            if (list_active === 'false') {
                list_active = 'true';
                localStorage.setItem(obj.getAttribute("id"), list_active);
            } else {
                list_active = 'false';
                localStorage.setItem(obj.getAttribute("id"), list_active);
            }
        });
    }

</script>